<div class="sticky top-0 z-5 surface-900">
    <p-menubar [model]="items" styleClass="border-none border-round-0">
        <ng-template pTemplate="start">
            <span class="text-2xl font-bold ml-2 text-white">Anshay Gupta</span>
        </ng-template>
        <ng-template pTemplate="end" *ngIf="isLoggedIn">
            <div class="flex align-items-center gap-2">
                 <a href="https://github.com/AnshayGupta29" target="_blank" class="p-button-rounded p-button-text text-white hover:surface-100 hover:text-primary transition-colors transition-duration-300" pButton icon="pi pi-github"></a>
                 <a href="https://linkedin.com/in/anshay-gupta-67b136166" target="_blank" class="p-button-rounded p-button-text text-white hover:surface-100 hover:text-primary transition-colors transition-duration-300" pButton icon="pi pi-linkedin"></a>
            </div>
        </ng-template>
    </p-menubar>
</div>
